RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^lights-data /403-forbidden [NC,L,R]
RewriteRule ^login-post$ lights-server/login.php [NC,L]
RewriteRule ^login$ lights-server/render-login.php [NC,L]
RewriteRule ^logout$ lights-server/logout.php [NC,L]
RewriteRule ^([A-Za-z0-9-]+)$ content.php?slug=$1 [NC,L]
RewriteRule ^$ content.php?slug=index [NC,L]
