body .ct-widget.ct-ignition {
  left:auto;
  right:calc(16px + 48px + 16px + 48px);
}
.ce-element {
  background-color:rgba(243,156,18,0.05);
  position:relative;
}
[data-shared] .ce-element:after {
  position: absolute;
  left: -50px;
  top: 2px;
  font-size: 10px;
  text-transform: uppercase;
  border-radius: 2px;
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.2);
  background-color: white;
  content: " Shared";
  padding: 2px 3px;
  z-index:10000000000000;
}
[data-shared] .ce-element .ce-element:after {
  display:none;
}
