body .ct-widget.ct-ignition {
  left: auto;
  right: calc(16px + 48px + 16px + 48px);
}
.ce-element {
  background-color: rgba(243, 156, 18, 0.05);
  position: relative;
}
[data-shared] .ce-element:after {
  position: absolute;
  left: -50px;
  top: 2px;
  font-size: 10px;
  text-transform: uppercase;
  border-radius: 2px;
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.2);
  background-color: white;
  content: " Shared";
  padding: 2px 3px;
  z-index: 10000000000000;
}
[data-shared] .ce-element .ce-element:after {
  display: none;
}

[data-name="slug"],
[data-name="order"] {
  position: fixed;
  top: 0;
  right: 220px;
  display: inline-block;
  padding: 10px 20px;
  color: #333;
  letter-spacing: 0.04em;
  cursor: pointer;
}
[data-name="order"] {
  right: 150px;
}
[data-name="slug"] > *,
[data-name="order"] > * {
  display: none;
}
[data-name="slug"] > .ce-element,
[data-name="order"] > .ce-element {
  display: block;
}
[data-name="slug"] > p,
[data-name="order"] > p {
  margin-top: 0;
  margin-bottom: 0;
}

.ct-app {
  display: none;
}

.ct-widget.ct-ignition {
  top: 5px;
}

.create-page-button,
.edit-page-button,
.cancel-page-button,
.logout-button {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: auto;
  display: inline-block;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.9);
  color: #333;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: white;
}

.create-page-button {
  background-color: #27ae60;
}
.edit-page-button {
  background-color: #2980b9;
}
.cancel-page-button {
  background-color: #e74c3c;
}
.logout-button {
  background-color: #666666;
}

.edit-page-button {
  right: 130px;
}
.cancel-page-button {
  left: 110px;
  right: auto;
}
.logout-button {
  bottom: 10px;
  left: 10px;
  right: auto;
}

input {
  margin-bottom: 6px;
  padding: 4px 8px;
}

[data-loggedin="0"] .ct-app,
[data-loggedin="0"] .create-page-button,
[data-loggedin="0"] .edit-page-button,
[data-loggedin="0"] .cancel-page-button,
[data-loggedin="0"] .logout-button,
[data-loggedin="0"] [data-editable][data-name="slug"],
[data-loggedin="0"] [data-editable][data-name="order"] {
  display: none;
}
[data-loggedin="1"] [data-editable][data-name="slug"],
[data-loggedin="1"] [data-editable][data-name="order"] {
  z-index: 1000000;
}

[contenteditable="true"] {
  outline: 2px solid #f39c12;
}
